# Program - 1

In [2]:
import selenium
from selenium import webdriver

In [2]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankitraj1/chromedriver')

In [3]:
#Open the webpage with webdriver
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

Creating empty list to store scrapped data

In [4]:
RANK=[]
VNAME=[]
UPL=[]
VIEW=[]
DATE=[]

Scrapping data in text format and appending it in coresponding list

In [5]:
rank=driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[3]/tbody/tr/td[1]")
for i in rank:
    RANK.append(i.text.replace('.',''))
vname=driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[3]/tbody/tr/td[2]")
for i in vname:
    VNAME.append(i.text)
upl=driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[3]/tbody/tr/td[3]")
for i in upl:
    UPL.append(i.text)
view=driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[3]/tbody/tr/td[4]")
for i in view:
    VIEW.append(i.text)
date=driver.find_elements_by_xpath("//div[@class='mw-parser-output']/table[3]/tbody/tr/td[5]")
for i in date:
    DATE.append(i.text)

In [6]:
print(len(RANK),len(VNAME),len(UPL),len(VIEW),len(DATE))

30 30 30 30 30


Now, we will copy the data from the list to Data Frame

In [7]:
import pandas as pd
video=pd.DataFrame()

In [8]:
video['RANK']=RANK[:]
video['Video_Name']=VNAME[:]
video['Uploader']=UPL[:]
video['Views(Billions)']=VIEW[:]
video['Upload_Date']=DATE[:]

In [9]:
video

,RANK,Video_Name,Uploader,Views(Billions),Upload_Date
0,1,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.71,"June 17, 2016"
1,2,"""Despacito""[24]",Luis Fonsi,7.38,"January 12, 2017"
2,3,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.41,"October 8, 2016"
3,4,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,5,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,6,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7,"""Uptown Funk""[31]",Mark Ronson,4.19,"November 19, 2014"
7,8,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.12,"February 27, 2018"
8,9,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.10,"May 2, 2018"
9,10,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,11,"""Phonics Song with Two Words""[36]",ChuChu TV,3.90,"March 6, 2014"
11,12,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,13,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,14,"""Dame Tu Cosita""[39]",El Chombo,3.37,"April 5, 2018"
14,15,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,16,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,17,"""Thinking Out Loud""[42]",Ed Sheeran,3.26,"October 7, 2014"
17,18,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,19,"""Faded""[44]",Alan Walker,3.07,"December 3, 2015"
19,20,"""Shake It Off""[45]",Taylor Swift,3.06,"August 18, 2014"
20,21,"""Wheels on the Bus""[46]",Cocomelon – Nursery Rhymes,3.05,"May 24, 2018"
21,22,"""Lean On""[47]",Major Lazer,3.04,"March 22, 2015"
22,23,"""Bailando""[48]",Enrique Iglesias,3.04,"April 11, 2014"
23,24,"""Girls Like You""[49]",Maroon 5,3.04,"May 31, 2018"
24,25,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,26,"""Mi Gente""[51]",J Balvin,2.92,"June 29, 2017"
26,27,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,28,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,29,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,30,"""Axel F""[55]",Crazy Frog,2.82,"June 16, 2009"

# Program - 2

Q2)Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankitraj1/chromedriver')

In [11]:
#Open the webpage with webdriver
driver.get('https://www.bcci.tv/.')

In [12]:
from selenium.common.exceptions import ElementNotInteractableException

In [13]:
try:
    click1=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
    click1.click()
except ElementNotInteractableException:
    click2=click1.get_attribute('href')
    driver.get(click2)

Creating empty list to store scrapped data.

In [14]:
TITLE=[]
SERIES=[]
PLACE=[]
DATE=[]
MONTH=[]
TIME=[]

Scrapping data in text format and appending it in coresponding list.

In [15]:
title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in title:
    TITLE.append(i.text)
series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    SERIES.append(i.text)
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    PLACE.append(i.text)
date=driver.find_elements_by_xpath("//span[@class='fixture__date']")
for i in date:
    DATE.append(i.text)
month=driver.find_elements_by_xpath("//span[@class='fixture__month']")
for i in month:
    MONTH.append(i.text)
time=driver.find_elements_by_xpath("//span[@class='fixture__time']")
for i in time:
    TIME.append(i.text)

We will crete a new List 'DATE2' and store date from 'DATE' & 'MO

In [16]:
DATE2=[]
for (i,j) in zip(DATE,MONTH):
    DATE2.append(i+'-'+j)

In [17]:
print(len(TITLE),len(SERIES),len(PLACE),len(DATE2),len(TIME))

6 6 6 6 6

All the lists have same length

In [19]:
import pandas as pd
icc=pd.DataFrame()

In [20]:
icc['Match_title']=TITLE[:]
icc['Series']=SERIES[:]
icc['Place']=PLACE[:]
icc['Date']=DATE2[:]
icc['Time']=TIME[:]

In [21]:
icc

,Match_title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",18-JUNE,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04-AUGUST,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12-AUGUST,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25-AUGUST,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02-SEPTEMBER,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10-SEPTEMBER,15:30 IST

# Program - 3

Q3)Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [22]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankitraj1/chromedriver')

In [23]:
#Open the webpage with webdriver
driver.get(' https://www.guru99.com/')

In [24]:
#Clicking on 'SELENIUM' option
click1=driver.find_element_by_xpath("//div[@class='g-container']/div[1]/div/div/div/div/div/div[2]/div[2]/div/div").click()

In [25]:
#Then clicking on 'Selenium Exception Handling (Common Exceptions List)' option.
click2=driver.find_element_by_xpath("//div[@class='item-page']/div[2]/table[5]/tbody/tr[34]/td[1]/a").click()

Creating Lists to store scrapped data.

In [26]:
EXP=[]
DES=[]

Scrapping data in text format and appending it in coresponding list.

In [28]:
exp=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in exp:
    EXP.append(i.text)
des=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in des:
    DES.append(i.text)

In [29]:
print(len(exp),len(des))

42 42

In [ ]:
# We copy all the data from list to Data Frame

In [30]:
 import pandas as pd
exp=pd.DataFrame()

In [31]:
exp['Exception_Name']=EXP[1:]
exp['Description']=DES[1:]

In [32]:
exp

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Program - 4

Q4Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [33]:
#Open the webpage with webdriver
driver.get(' http://statisticstimes.com/')

In [34]:
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException

Since Element is not interable, we will scrape href from the source and then apply click function on it

In [35]:
try:
    click1=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div[1]/a[3]")
    click1.click()
except ElementNotInteractableException as e:
    print('Exception raised:',e)
    click2=click1.get_attribute('href')
    driver.get(click2)

Exception raised: Message: element not interactable
  (Session info: chrome=91.0.4472.77)

In [36]:
try:
    click3=driver.find_element_by_xpath("//a[@href='http://statisticstimes.com/economy/india/indian-states-gdp.php']").click()
except NoSuchElementException as e:
    print('Exception raised:',e)

Exception raised: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//a[@href='http://statisticstimes.com/economy/india/indian-states-gdp.php']"}
  (Session info: chrome=91.0.4472.77)

Since we are not able to located the element, we willscrape all the 'href' and store it in 'CLICK' list.

In [37]:
CLICK=[]
click4=driver.find_elements_by_xpath("//a[@class='ec']")
for i in click4:
    CLICK.append(i.get_attribute('href'))

Now we get the thirteenth href from the 'CLICK' list

In [39]:
driver.get(CLICK[13])

Creating empty lists to store scrapped data

In [40]:
RANK=[]
STATE=[]
G1920=[]
G1819=[]
SHARE=[]
GDP=[]

Scrapping data in text format and appending it in coresponding list.

In [41]:
rank=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
for i in rank:
    RANK.append(i.text)
state=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
for i in state:
    STATE.append(i.text)
g1=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]")
for i in g1:
    G1920.append(i.text)
g2=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]")
for i in g2:
    G1819.append(i.text)
share=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]")
for i in share:
    SHARE.append(i.text)
gdp=driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)

In [42]:
print(len(RANK),len(STATE),len(G1920),len(G1819),len(SHARE),len(GDP))

66 66 66 66 66 66

In [43]:
import pandas as pd
stat=pd.DataFrame()

In [44]:
stat['RANK']=RANK[:]
stat['STATE']=STATE[:]
stat['GSDP_19-20']=G1920[:]
stat['GSDP_18-19']=G1819[:]
stat['SHARE']=SHARE[:]
stat['GDP']=GDP[:]

In [45]:
stat

   RANK                      STATE GSDP_19-20 GSDP_18-19   SHARE      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
..  ...                        ...        ...        ...     ...      ...
61   29                     Sikkim     28,391     25,141   0.15%   17,060
62   30                   Nagaland          -     24,534   0.15%        -
63   31          Arunachal Pradesh          -     22,488   0.13%        -
64   32                    Mizoram     24,424     20,947   0.13%   17,797
65   33  Andaman & Nicobar Islands          -          -       -        -

[66 rows x 6 columns]

# Program- 5

Q5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used Note: - From the home page you have to click on the trending option from Explore menu through code.

In [46]:
#Open the webpage with webdriver
driver.get(' https://github.com/ ')

In [47]:
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException

In [48]:
#CLicking and getting href element.
try:
    click1=driver.find_element_by_xpath("//div[@class='HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto']/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
    click1.click()
except ElementNotInteractableException as e:
    print('Exception raissed:',e)
    click1=driver.find_element_by_xpath("//div[@class='HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto']/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
    cl=click1.get_attribute('href')
    driver.get(cl)

Exception raissed: Message: element not interactable
  (Session info: chrome=91.0.4472.77)

In [49]:
RES_T=[]
RES_D=[]
CON=[]
LAN=[]

Storing 'Href' of all repository in URL list

In [50]:
URL=[]
urls=driver.find_elements_by_xpath("//div[@class=('Box')]/div[2]/article/h1/a")
for url in urls:
    URL.append(url.get_attribute('href'))
URL[0:3]

['https://github.com/madMAx43v3r/chia-plotter',
 'https://github.com/TuSimple/naive-ui',
 'https://github.com/ToolJet/ToolJet']

Scrapping data in text format and appending it in coresponding list.

In [51]:
for i in URL:
    driver.get(i)
    try:
        rest=driver.find_element_by_xpath("//strong[@class=('mr-2 flex-self-stretch')]")
        RES_T.append(rest.text)
    except NoSuchElementException:
        REST_T.append('--')
    try:
        resd=driver.find_element_by_xpath("//div[@class=('repository-content ')]/div/div[2]/div[2]/div/div[1]/div/p")
        RES_D.append(resd.text)
    except NoSuchElementException:
        RES_D.append('--')
    try:
        if driver.find_element_by_xpath("//div[@class=('BorderGrid-row')][4]/div/h2/a").text[0:12] == "Contributors":
            con=driver.find_element_by_xpath("//div[@class=('BorderGrid-row')][4]/div/h2/a/span")
            CON.append(con.text)
        elif driver.find_element_by_xpath("//div[@class=('BorderGrid-row')][3]/div/h2/a").text[0:12] == 'Contributors':
            con=driver.find_element_by_xpath("//div[@class=('BorderGrid-row')][3]/div/h2/a/span")
            CON.append(con.text)
        elif driver.find_element_by_xpath("//div[@class=('BorderGrid-row')][2]/div/h2/a/").text[0:12] == "Contributors":
            con=driver.find_element_by_xpath("//div[@class=('BorderGrid-row')][2]/div/h2/a/span")
            CON.append(con.text)
        else:    
            raise NoSuchElementException
    except NoSuchElementException:     
        CON.append('--')
    try:
        lan=driver.find_element_by_xpath("//ul[@class=('list-style-none')]/li[1]/a/span")
        LAN.append(lan.text)
    except NoSuchElementException:
        LAN.append('--')

In [52]:
print(len(RES_T),len(RES_D),len(CON),len(LAN))

25 25 25 25

In [53]:
import pandas as pd
git=pd.DataFrame()

In [54]:
git['Repositories_Name']=RES_T[:]
git['Repositories_Description']=RES_D[:]
git['Contributors_Count']=CON[:]
git['Language_Used']=LAN[:]

In [55]:
git

,Repositories_Name,Repositories_Description,Contributors_Count,Language_Used
0,chia-plotter,--,--,C
1,naive-ui,A Vue 3 Component Library. Fairly Complete. Cu...,--,Inu
2,ToolJet,Opensource internal tool builder. An alternati...,14,JavaScript
3,slides,Terminal based presentation tool,--,Go
4,PaddleHub,Awesome pre-trained models toolkit based on Pa...,--,Python
5,connectedhomeip,Matter (formerly Project CHIP) is creating mor...,--,C++
6,nodebestpractices,✅ The Node.js best practices list (June 2021),--,JavaScript
7,computer-vision-in-action,《计算机视觉实战演练：算法与应用》中文电子书、源码、读者交流社区（更新中，可以先 star）,--,Jupyter Notebook
8,public-apis,A collective list of free APIs,--,Python
9,school2021,ESCAPE Summer School 2021,9,Jupyter Notebook
10,first-contributions,🚀✨ Help beginners to contribute to open source...,"5,000+",--
11,PaddleNLP,An NLP library with Awesome pre-trained Transf...,--,Python
12,YYeTsBot,🎬 人人影视bot，完全对接人人影视全部无删减资源,--,Python
13,Map-of-Javascript,Javascript on one sheet. (and one for algorithms),--,JavaScript
14,Tkinter-Designer,Create Beautiful Tkinter GUIs by Drag and Drop ☄️,--,Python
15,fullstack-course4,"Example code for HTML, CSS, and Javascript for...",21,JavaScript
16,notepad-plus-plus,Notepad++ official repository,262,C++
17,jd_shell,京豆 京东 lxk0301 jd-base loon docker 羊毛 脚本,--,JavaScript
18,webpacker,Use Webpack to manage app-like JavaScript modu...,423,Ruby
19,calendso,The open-source Calendly alternative.,--,TypeScript
20,build-your-own-x,🤓 Build your own (insert technology here),69,--
21,vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...",--,TypeScript
22,bypass-paywalls-chrome,Bypass Paywalls web browser extension for Chro...,--,JavaScript
23,the-art-of-command-line,"Master the command line, in one page",162,--
24,OpenCore-Legacy-Patcher,Experience macOS just like before,--,Python

# Program-6

Scrape the details of top 100 songs on billiboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [56]:
#Open the webpage with webdriver
driver.get('https://www.billboard.com/')

In [57]:
#Clicking throught xptah to 'chart option'
click1=driver.find_element_by_xpath("//div[@class='header__sticky__child']/header/div/ul/li[1]")
click1.click()

In [58]:
#Clicking  through xpath to hot-100page
click2=driver.find_element_by_xpath("//div[@class='charts-landing first-group']/div[1]/a/div[2]/div[2]/div[1]")
click2.click()

Creating Lists to store scrapped variable

In [59]:
SNAME=[]
ANAME=[]
LWR=[]
PR=[]
WOB=[]

We will extract the data in text form and store in respective lists

In [60]:
sname=driver.find_elements_by_xpath("//ol[@class='chart-list__elements']/li/button/span[2]/span[1]")
for i in sname:
    SNAME.append(i.text)
aname=driver.find_elements_by_xpath("//ol[@class='chart-list__elements']/li/button/span[2]/span[2]")
for i in aname:
    ANAME.append(i.text)
lwr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in lwr:
    LWR.append(i.text)
pr=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in pr:
    PR.append(i.text)
wob=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    WOB.append(i.text)

In [61]:
print(len(SNAME),len(ANAME),len(LWR),len(PR),len(WOB))

100 100 100 100 100

In [62]:
import pandas as pd
TOP=pd.DataFrame()

In [63]:
TOP['Song_Name']=SNAME[:]
TOP['Artist_Name']=ANAME[:]
TOP['Last_Week_Rank']=LWR[:]
TOP['Peak_Rank']=PR[:]
TOP['Weeks_on_Board']=WOB[:]

In [64]:
TOP

,Song_Name,Artist_Name,Last_Week_Rank,Peak_Rank,Weeks_on_Board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

# Program - 7

Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [75]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankitraj1/chromedriver')

In [76]:
#Open the webpage with webdriver
driver.get('https://www.naukri.com/')

In [77]:
#Getting elemnet for clicking
click1=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
click1.click()

In [78]:
#Since by click a new tab is now, we will extract 'href' and then open it with webdriver
cl=click1.get_attribute('href')
driver.get(cl)

In [80]:
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException, WebDriverException

In [81]:
# Trying to get search
try:
    ch1=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
    ch1.send_keys('Data Science')
except WebDriverException as e:
    print('Raised exception:', e)

In [82]:
click2=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button").click()

Creating URL list and extracting all href of profiles into it

In [83]:
URL=[]
urls=driver.find_elements_by_xpath("//div[@class='mainSec']/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/a[1]")
for url in urls:
    URL.append(url.get_attribute('href'))
URL[0:3]

['https://www.naukri.com/recruiters/aakashharit-1986742?xid=162331437580039400&xp=1',
 'https://www.naukri.com/recruiters/shravankumargaddam-353487?xid=162331437580039400&xp=2',
 'https://www.naukri.com/recruiters/marsiantech?xid=162331437580039400&xp=3']

In [84]:
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div/div[3]/button").click()

In [85]:
import time

We will scrap all profile URL from all the pages

In [ ]:
for j in range(115):
    time.sleep(5)
    try:
        urls=driver.find_elements_by_xpath("//div[@class='mainSec']/div/div[2]/div/div[2]/div/div/div[1]/div[1]/p/a[1]")
        for url in urls:
            URL.append(url.get_attribute('href'))
    except NoSuchElementException as e:
        print('Exception raised:',e)
    driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div/div[3]/button[2]").click()
    time.sleep(5)

In [87]:
print(len(URL))

100

In [88]:
NAME=[]
DES=[]
COM=[]
SKILL=[]
LOC=[]

In [89]:
for j in URL:
    driver.get(j)
    time.sleep(3)
    try:
        name=driver.find_elements_by_xpath("//div[@class='frame oh']/div[2]/div[2]/h1")
        for i in name:
            NAME.append(i.text)
    except NoSuchElementException:
        Name.append('--')
    try:
        des=driver.find_elements_by_xpath("//div[@class='frame oh']/div[2]/div[3]")
        for i in des:
            DES.append(i.text)
    except NoSuchElementException:
        DES.append('')
    try:
        com=driver.find_elements_by_xpath("//div[@class='frame oh']/div[2]/div[4]/a")
        for i in com:
            COM.append(i.text)
    except NoSuchElementException:
        COM.append('')
    try: 
        loc=driver.find_elements_by_xpath("//div[@class='frame oh']/div[2]/div[5]/a")
        for i in loc:
            LOC.append(i.text)
    except NoSuchElementException:
        LOC.append('--')
    try:
        skill=driver.find_elements_by_xpath("//div[@class='fadeOutParent readMoreHt100 ']/div[2]/div[1]/p[1]")
        for i in skill:
            SKILL.append(i.text)
    except NoSuchElementException:
        SKILL.append('--')

In [90]:
print(len(NAME),len(DES),len(COM),len(SKILL),len(LOC))

100 100 100 100 100

In [91]:
import pandas as pd
job=pd.DataFrame()

In [92]:
job['Name']=NAME[0:1657]
job['Designation']=DES[0:1657]
job['Company_name']=COM[0:1657]
job['Location']=LOC[0:1657]
job['Skills_required']=SKILL[0:1657]

In [93]:
job

,Name,Designation,Company_name,Location,Skills_required
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer , Internet Marketing Pro..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net , Java , Data Science , Linux Administrat..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Mid Level, Junior Level"
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,", Mean Stack , javascript , angularjs , mongod..."
4,subhas patel,Founder & CEO,LibraryXProject,UK - (london),"Hadoop , Spark , Digital Strategy , Data Archi..."
...,...,...,...,...,...
95,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"java , hadoop , r , Machine Learning , spark ,..."
96,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Mid Level, High Level"
97,Amir Chowdhury,Managing Partner,Granular.ai,,Granular.ai
98,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,Noida,Certybox Pvt.Ltd.
99,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals , Engineering , Technic..."

# Program - 8

Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volum

In [4]:
#First we will connect to webdriver
driver=webdriver.Chrome(r'/Users/ankitraj1/chromedriver')

In [5]:
 #Open the webpage with webdriver
driver.get(' https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ ')

Creating Lists to store scrapped data in text form

In [6]:
BNAME=[]
ANAME=[]
VS=[]
PUB=[]
GEN=[]

We will extract the data in text form and store in respective lists

In [7]:
bname=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in bname:
    BNAME.append(i.text)
aname=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in aname:
    ANAME.append(i.text)
vs=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in vs:
    VS.append(i.text)
pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in pub:
    PUB.append(i.text)
gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in gen:
    GEN.append(i.text)

In [8]:
print(len(BNAME),len(ANAME),len(VS),len(PUB),len(GEN))

100 100 100 100 100

In [9]:
import pandas as pd
book=pd.DataFrame()

In [10]:
book['Title']=BNAME[:]
book['Author']=ANAME[:]
book['Volume_Sales']=VS[:]
book['Publisher']=PUB[:]
book['Genre']=GEN[:]

In [11]:
book

,Title,Author,Volume_Sales,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Program - 9

 Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [12]:
#Open the webpage with webdriver
driver.get(' https://www.imdb.com/list/ls095964455/')

In [13]:
NAME=[]
YS=[]
GEN=[]
RT=[]
RAT=[]
VOT=[]

In [14]:
name=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/h3/a")
for i in name:
    NAME.append(i.text)
ys=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/h3/span[2]")
for i in ys:
    YS.append(i.text)
gen=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/p/span[5]")
for i in gen:
    GEN.append(i.text)
rt=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/p/span[3]")
for i in rt:
    RT.append(i.text)
rat=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/div[1]/div[1]/span[2]")
for i in rat:
    RAT.append(i.text)
vot=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/p[4]/span[2]")
for i in vot:
    VOT.append(i.text)

In [15]:
ys=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/h3/span[2]")
for i in ys:
    YS.append(i.text)
YS[0:3]

['(2011–2019)', '(2016– )', '(2010–2022)']

In [16]:
gen=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/p/span[5]")
for i in gen:
    GEN.append(i.text)
GEN[0:3]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller']

In [17]:
rt=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/p/span[3]")
for i in rt:
    RT.append(i.text)
RT[0:3]

['57 min', '51 min', '44 min']

In [18]:
rat=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/div[1]/div[1]/span[2]")
for i in rat:
    RAT.append(i.text)
RAT[0:3]

['9.3', '8.7', '8.2']

In [19]:
vot=driver.find_elements_by_xpath("//div[@class='lister-list']/div/div[2]/p[4]/span[2]")
for i in vot:
    VOT.append(i.text)
VOT[0:3]

['1,821,471', '862,613', '873,930']

In [22]:
#creating the data frame for the outputs
import pandas as pd

data = list(zip(NAME,YS,GEN,RT,RAT,VOT))
df = pd.DataFrame (data,columns=['NAME','YS','GEN','RT','RAT','VOT'])

In [25]:
df.head(100)

,NAME,YS,GEN,RT,RAT,VOT
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,471"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,613"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"873,930"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,489"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,790"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,545"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,030"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,433"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,858"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,157"

# Program -10

Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code

In [26]:
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException, WebDriverException

In [34]:
#open the URL
driver.get('https://archive.ics.uci.edu/')
driver.implicitly_wait(3)

In [35]:
#navigate to view all dataset
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [39]:
#create an empty lists to store the scraping data
Name=[] 
D_Type=[]
Task=[] 
Attri_Type=[] 
Instances=[] 
Attribute=[] 
Year=[]

In [40]:
#create a function
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    Name.append(i.text)
names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    Name.append(i.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    D_Type.append(i.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    Attri_Type.append(i.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in ins:
    Instances.append(i.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in no_of_att:
    Attribute.append(i.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype:
    D_Type.append(i.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in tsk:
    Task.append(i.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    Attri_Type.append(i.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi:
    Instances.append(i.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa:
    Attribute.append(i.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)

In [41]:
#create the dataframe from the scraped data
UCI=pd.DataFrame({})
UCI['Name']=Dataset_Name 
UCI['D_Type']=Data_Type
UCI['Task']=Task
UCI['Attri_Type']=Attribute_Type
UCI['Instances']=No_of_Instances
UCI['Attribute']= No_of_Attribute
UCI['Year']=Year
UCI

,Name,D_Type,Task,Attri_Type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
290,LastFM Asia Social Network,Multivariate,Classification,,7624,7842,2020
291,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
292,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
293,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
294,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021