# Top 10 ODI Womens Team

In [1]:
#importing the libraries

import requests
from bs4 import BeautifulSoup
import re

In [2]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"        #fetching the url

In [3]:
r  = requests.get(url)
htmlContent = r.content

In [4]:
soup = BeautifulSoup(htmlContent, 'html.parser')

In [16]:
title = soup.title

In [6]:
print(title.string)

ICC Ranking for ODI teams International Cricket Council

In [7]:
first_table= soup.find("table")

In [8]:
print(first_table)

<table class="table">
<thead>
<tr class="table-head">
<th class="table-head__cell u-text-right">Pos</th>
<th class="table-head__cell rankings-table__team">
<span class="u-hide-mobile">Team</span>
<span class="u-show-mobile">T</span>
</th>
<th class="table-head__cell u-center-text">
<span class="u-hide-mobile">Matches</span>
<span class="u-show-mobile">M</span>
</th>
<th class="table-head__cell u-center-text">
<span class="u-hide-mobile">Points</span>
<span class="u-show-mobile">P</span>
</th>
<th class="table-head__cell u-text-right rating">
<span class="u-hide-mobile">Rating</span>
<span class="u-show-mobile">R</span>
</th>
</tr>
</thead>
<tbody>
<tr class="rankings-block__banner">
<td class="rankings-block__banner--pos">1</td>
<td class="rankings-block__banner--team-name">
<span class="flag-30 rankings-block__banner--flag AUS"></span>
<span class="u-hide-phablet">Australia</span>
<span class="u-show-phablet">AUS</span>
</td>
<td class="rankings-block__banner--matches">18</td>
<td class="rankings-block__banner--points">2,955</td>
<td class="rankings-block__banner--rating u-text-right">
                            164
                            <span class="circle-branding circle-branding--top"></span>
<span class="circle-branding circle-branding--bottom"></span>
</td>
</tr>
<tr class="table-body" data-team-id="25">
<td class="table-body__cell table-body__cell--position u-text-right">2</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo SA"></span>
<span class="u-hide-phablet">South Africa</span>
<span class="u-show-phablet">SA</span>
</td>
<td class="table-body__cell u-center-text">24</td>
<td class="table-body__cell u-center-text">2,828</td>
<td class="table-body__cell u-text-right rating">118</td>
</tr>
<tr class="table-body" data-team-id="28">
<td class="table-body__cell table-body__cell--position u-text-right">3</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo ENG"></span>
<span class="u-hide-phablet">England</span>
<span class="u-show-phablet">ENG</span>
</td>
<td class="table-body__cell u-center-text">17</td>
<td class="table-body__cell u-center-text">1,993</td>
<td class="table-body__cell u-text-right rating">117</td>
</tr>
<tr class="table-body" data-team-id="31">
<td class="table-body__cell table-body__cell--position u-text-right">4</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo IND"></span>
<span class="u-hide-phablet">India</span>
<span class="u-show-phablet">IND</span>
</td>
<td class="table-body__cell u-center-text">20</td>
<td class="table-body__cell u-center-text">2,226</td>
<td class="table-body__cell u-text-right rating">111</td>
</tr>
<tr class="table-body" data-team-id="26">
<td class="table-body__cell table-body__cell--position u-text-right">5</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo NZ"></span>
<span class="u-hide-phablet">New Zealand</span>
<span class="u-show-phablet">NZ</span>
</td>
<td class="table-body__cell u-center-text">21</td>
<td class="table-body__cell u-center-text">1,947</td>
<td class="table-body__cell u-text-right rating">93</td>
</tr>
<tr class="table-body" data-team-id="27">
<td class="table-body__cell table-body__cell--position u-text-right">6</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo WI"></span>
<span class="u-hide-phablet">West Indies</span>
<span class="u-show-phablet">WI</span>
</td>
<td class="table-body__cell u-center-text">12</td>
<td class="table-body__cell u-center-text">1,025</td>
<td class="table-body__cell u-text-right rating">85</td>
</tr>
<tr class="table-body" data-team-id="29">
<td class="table-body__cell table-body__cell--position u-text-right">7</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo PAK"></span>
<span class="u-hide-phablet">Pakistan</span>
<span class="u-show-phablet">PAK</span>
</td>
<td class="table-body__cell u-center-text">15</td>
<td class="table-body__cell u-center-text">1,101</td>
<td class="table-body__cell u-text-right rating">73</td>
</tr>
<tr class="table-body" data-team-id="170">
<td class="table-body__cell table-body__cell--position u-text-right">8</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo BAN"></span>
<span class="u-hide-phablet">Bangladesh</span>
<span class="u-show-phablet">BAN</span>
</td>
<td class="table-body__cell u-center-text">5</td>
<td class="table-body__cell u-center-text">306</td>
<td class="table-body__cell u-text-right rating">61</td>
</tr>
<tr class="table-body" data-team-id="24">
<td class="table-body__cell table-body__cell--position u-text-right">9</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo SL"></span>
<span class="u-hide-phablet">Sri Lanka</span>
<span class="u-show-phablet">SL</span>
</td>
<td class="table-body__cell u-center-text">11</td>
<td class="table-body__cell u-center-text">519</td>
<td class="table-body__cell u-text-right rating">47</td>
</tr>
<tr class="table-body" data-team-id="162">
<td class="table-body__cell table-body__cell--position u-text-right">10</td>
<td class="table-body__cell rankings-table__team">
<span class="flag-15 table-body_logo IRE"></span>
<span class="u-hide-phablet">Ireland</span>
<span class="u-show-phablet">IRE</span>
</td>
<td class="table-body__cell u-center-text">2</td>
<td class="table-body__cell u-center-text">25</td>
<td class="table-body__cell u-text-right rating">13</td>
</tr>
</tbody>
</table>

In [10]:
assert first_table.find("th").get_text() == "Pos"

In [11]:
rows = first_table.find_all("tr",)
rows

[<tr class="table-head">
 <th class="table-head__cell u-text-right">Pos</th>
 <th class="table-head__cell rankings-table__team">
 <span class="u-hide-mobile">Team</span>
 <span class="u-show-mobile">T</span>
 </th>
 <th class="table-head__cell u-center-text">
 <span class="u-hide-mobile">Matches</span>
 <span class="u-show-mobile">M</span>
 </th>
 <th class="table-head__cell u-center-text">
 <span class="u-hide-mobile">Points</span>
 <span class="u-show-mobile">P</span>
 </th>
 <th class="table-head__cell u-text-right rating">
 <span class="u-hide-mobile">Rating</span>
 <span class="u-show-mobile">R</span>
 </th>
 </tr>,
 <tr class="rankings-block__banner">
 <td class="rankings-block__banner--pos">1</td>
 <td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>
 <td class="rankings-block__banner--matches">18</td>
 <td class="rankings-block__banner--points">2,955</td>
 <td class="rankings-block__banner--rating u-text-right">
                             164
                             <span class="circle-branding circle-branding--top"></span>
 <span class="circle-branding circle-branding--bottom"></span>
 </td>
 </tr>,
 <tr class="table-body" data-team-id="25">
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>
 <td class="table-body__cell u-center-text">24</td>
 <td class="table-body__cell u-center-text">2,828</td>
 <td class="table-body__cell u-text-right rating">118</td>
 </tr>,
 <tr class="table-body" data-team-id="28">
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>
 <td class="table-body__cell u-center-text">17</td>
 <td class="table-body__cell u-center-text">1,993</td>
 <td class="table-body__cell u-text-right rating">117</td>
 </tr>,
 <tr class="table-body" data-team-id="31">
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>
 <td class="table-body__cell u-center-text">20</td>
 <td class="table-body__cell u-center-text">2,226</td>
 <td class="table-body__cell u-text-right rating">111</td>
 </tr>,
 <tr class="table-body" data-team-id="26">
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>
 <td class="table-body__cell u-center-text">21</td>
 <td class="table-body__cell u-center-text">1,947</td>
 <td class="table-body__cell u-text-right rating">93</td>
 </tr>,
 <tr class="table-body" data-team-id="27">
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>
 <td class="table-body__cell u-center-text">12</td>
 <td class="table-body__cell u-center-text">1,025</td>
 <td class="table-body__cell u-text-right rating">85</td>
 </tr>,
 <tr class="table-body" data-team-id="29">
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>
 <td class="table-body__cell u-center-text">15</td>
 <td class="table-body__cell u-center-text">1,101</td>
 <td class="table-body__cell u-text-right rating">73</td>
 </tr>,
 <tr class="table-body" data-team-id="170">
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>
 <td class="table-body__cell u-center-text">5</td>
 <td class="table-body__cell u-center-text">306</td>
 <td class="table-body__cell u-text-right rating">61</td>
 </tr>,
 <tr class="table-body" data-team-id="24">
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>
 <td class="table-body__cell u-center-text">11</td>
 <td class="table-body__cell u-center-text">519</td>
 <td class="table-body__cell u-text-right rating">47</td>
 </tr>,
 <tr class="table-body" data-team-id="162">
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>
 <td class="table-body__cell u-center-text">2</td>
 <td class="table-body__cell u-center-text">25</td>
 <td class="table-body__cell u-text-right rating">13</td>
 </tr>]

In [12]:
for row in rows[1:-1]:
    cells = row.find_all(["td"])
    cells_text = [cell.get_text(strip=True) for cell in cells]
    
    display(cells_text)

['1', 'AustraliaAUS', '18', '2,955', '164']

['2', 'South AfricaSA', '24', '2,828', '118']

['3', 'EnglandENG', '17', '1,993', '117']

['4', 'IndiaIND', '20', '2,226', '111']

['5', 'New ZealandNZ', '21', '1,947', '93']

['6', 'West IndiesWI', '12', '1,025', '85']

['7', 'PakistanPAK', '15', '1,101', '73']

['8', 'BangladeshBAN', '5', '306', '61']

['9', 'Sri LankaSL', '11', '519', '47']

# Top 10 ODI women batsmen

In [13]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"

In [14]:
r  = requests.get(url)
htmlContent = r.content

In [15]:
soup = BeautifulSoup(htmlContent, 'html.parser')

In [17]:
title = soup.title

In [18]:
print(title.string)

ICC ODI Match Player Rankings International Cricket Council

In [19]:
second_table= soup.find("table")

In [20]:
print(second_table)

<table class="table">
<thead>
<tr class="table-head">
<th class="table-head__cell u-text-right">Pos</th>
<th class="table-head__cell">Player</th>
<th class="table-head__cell">Team</th>
<th class="table-head__cell u-text-right">Rating</th>
</tr>
</thead>
<tbody>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    2
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/1785">Lizelle Lee</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo SA"></span>
<span class="table-body__logo-text">SA</span>
</td>
<td class="table-body__cell u-text-right rating">758</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    3
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/466">Alyssa Healy</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo AUS"></span>
<span class="table-body__logo-text">AUS</span>
</td>
<td class="table-body__cell u-text-right rating">756</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    4
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo WI"></span>
<span class="table-body__logo-text">WI</span>
</td>
<td class="table-body__cell u-text-right rating">746</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    5
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/469">Meg Lanning</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo AUS"></span>
<span class="table-body__logo-text">AUS</span>
</td>
<td class="table-body__cell u-text-right rating">723</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    6
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/487">Amy Satterthwaite</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo NZ"></span>
<span class="table-body__logo-text">NZ</span>
</td>
<td class="table-body__cell u-text-right rating">715</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    7
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/1809">Smriti Mandhana</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo IND"></span>
<span class="table-body__logo-text">IND</span>
</td>
<td class="table-body__cell u-text-right rating">710</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    8
        <span class="ranking-pos no-change"></span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/558">Mithali Raj</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo IND"></span>
<span class="table-body__logo-text">IND</span>
</td>
<td class="table-body__cell u-text-right rating">709</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    9
        <span class="ranking-pos up">
<svg class="icon">
<use xlink:href="/resources/prod/v8.15.0/i/svg-output/icons.svg#icn-chevron-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
</svg>
<span class="ranking-pos__tooltip">This player has moved up in the rankings since the previous rankings update</span>
</span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo ENG"></span>
<span class="table-body__logo-text">ENG</span>
</td>
<td class="table-body__cell u-text-right rating">685</td>
</tr>
<tr class="table-body">
<td class="table-body__cell table-body__cell--position u-text-right">
                                    10
        <span class="ranking-pos up">
<svg class="icon">
<use xlink:href="/resources/prod/v8.15.0/i/svg-output/icons.svg#icn-chevron-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
</svg>
<span class="ranking-pos__tooltip">This player has moved up in the rankings since the previous rankings update</span>
</span>
</td>
<td class="table-body__cell name">
<a href="/rankings/womens/player-rankings/3176">Laura Wolvaardt</a>
</td>
<td class="table-body__cell nationality-logo">
<span class="flag-15 table-body_logo SA"></span>
<span class="table-body__logo-text">SA</span>
</td>
<td class="table-body__cell u-text-right rating">683</td>
</tr>
</tbody>
</table>

In [21]:
assert second_table.find("th").get_text() == "Pos"

In [22]:
rows = second_table.find_all("tr",)
rows

[<tr class="table-head">
 <th class="table-head__cell u-text-right">Pos</th>
 <th class="table-head__cell">Player</th>
 <th class="table-head__cell">Team</th>
 <th class="table-head__cell u-text-right">Rating</th>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     2
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1785">Lizelle Lee</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="table-body__logo-text">SA</span>
 </td>
 <td class="table-body__cell u-text-right rating">758</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     3
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/466">Alyssa Healy</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="table-body__logo-text">AUS</span>
 </td>
 <td class="table-body__cell u-text-right rating">756</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     4
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/573">Stafanie Taylor</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="table-body__logo-text">WI</span>
 </td>
 <td class="table-body__cell u-text-right rating">746</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     5
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/469">Meg Lanning</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="table-body__logo-text">AUS</span>
 </td>
 <td class="table-body__cell u-text-right rating">723</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     6
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/487">Amy Satterthwaite</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo NZ"></span>
 <span class="table-body__logo-text">NZ</span>
 </td>
 <td class="table-body__cell u-text-right rating">715</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     7
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1809">Smriti Mandhana</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="table-body__logo-text">IND</span>
 </td>
 <td class="table-body__cell u-text-right rating">710</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     8
         <span class="ranking-pos no-change"></span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/558">Mithali Raj</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="table-body__logo-text">IND</span>
 </td>
 <td class="table-body__cell u-text-right rating">709</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     9
         <span class="ranking-pos up">
 <svg class="icon">
 <use xlink:href="/resources/prod/v8.15.0/i/svg-output/icons.svg#icn-chevron-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
 </svg>
 <span class="ranking-pos__tooltip">This player has moved up in the rankings since the previous rankings update</span>
 </span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/1800">Natalie Sciver</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="table-body__logo-text">ENG</span>
 </td>
 <td class="table-body__cell u-text-right rating">685</td>
 </tr>,
 <tr class="table-body">
 <td class="table-body__cell table-body__cell--position u-text-right">
                                     10
         <span class="ranking-pos up">
 <svg class="icon">
 <use xlink:href="/resources/prod/v8.15.0/i/svg-output/icons.svg#icn-chevron-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
 </svg>
 <span class="ranking-pos__tooltip">This player has moved up in the rankings since the previous rankings update</span>
 </span>
 </td>
 <td class="table-body__cell name">
 <a href="/rankings/womens/player-rankings/3176">Laura Wolvaardt</a>
 </td>
 <td class="table-body__cell nationality-logo">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="table-body__logo-text">SA</span>
 </td>
 <td class="table-body__cell u-text-right rating">683</td>
 </tr>]

In [23]:
for row in rows[1:-1]:
    cells = row.find_all(["td"])
    cells_text = [cell.get_text(strip=True) for cell in cells]
    
    display(cells_text)

['2', 'Lizelle Lee', 'SA', '758']

['3', 'Alyssa Healy', 'AUS', '756']

['4', 'Stafanie Taylor', 'WI', '746']

['5', 'Meg Lanning', 'AUS', '723']

['6', 'Amy Satterthwaite', 'NZ', '715']

['7', 'Smriti Mandhana', 'IND', '710']

['8', 'Mithali Raj', 'IND', '709']

['9This player has moved up in the rankings since the previous rankings update',
 'Natalie Sciver',
 'ENG',
 '685']