# Web Scrapping Using BeautifulSoup

1. Program 1 - Wikipedia

In [1]:
#importing all the libraries for Programs

from requests import get
from bs4 import BeautifulSoup 
import pandas as pd
import requests
from urllib.request import urlopen

In [2]:
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
bs = BeautifulSoup(html, "html.parser")

In [4]:
titles = bs.find_all(['h1','h2','h3','h4','h5','h6',])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

In [5]:
titles = [titles.text for titles in bs.find_all(['h1','h2','h3','h4','h5','h6'])]
titles

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 '\nPersonal tools\n',
 '\nNamespaces\n',
 '\nVariants\n',
 '\nViews\n',
 '\nMore\n',
 '\nSearch\n',
 '\nNavigation\n',
 '\nContribute\n',
 '\nTools\n',
 '\nPrint/export\n',
 '\nIn other projects\n',
 '\nLanguages\n']

In [6]:
titles= [titles.replace('\n','').replace(' ', '')for titles in titles]
titles

['MainPage',
 "Fromtoday'sfeaturedarticle",
 'Didyouknow\xa0...',
 'Inthenews',
 'Onthisday',
 "Today'sfeaturedpicture",
 'OtherareasofWikipedia',
 "Wikipedia'ssisterprojects",
 'Wikipedialanguages',
 'Navigationmenu',
 'Personaltools',
 'Namespaces',
 'Variants',
 'Views',
 'More',
 'Search',
 'Navigation',
 'Contribute',
 'Tools',
 'Print/export',
 'Inotherprojects',
 'Languages']

# 2. Program 2 - IMDB Top 100 Movies

In [7]:
#Top 100 highest rated movies on imdb
url = get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating") #0nly first 50 movies for this url

In [8]:
request = url.text

In [9]:
soup_data = BeautifulSoup(request,'html.parser')

In [10]:
soup_data.title.text

'IMDb "Top 100"\n(Sorted by IMDb Rating Descending) - IMDb'

In [11]:
movies = soup_data.findAll('div',{'class':'lister-item mode-advanced'})
first_movie = movies[0]

In [12]:
first_movie.h3.a.text   #name of the movie

'The Shawshank Redemption'

In [13]:
first_movie.find('span',{"class":"lister-item-year text-muted unbold"}).text   #year

'(1994)'

In [14]:
first_movie.find('div',{"class":"inline-block ratings-imdb-rating"}).text.replace('\n','')

'9.3'

In [15]:
Name = []
Year = []
Rating = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text)
    Rating.append(i.find('div',{"class":"inline-block ratings-imdb-rating"}).text.replace('\n',''))

In [16]:
data = list(zip(Name,Year,Rating))
df = pd.DataFrame (data,columns=['Name','Year','Rating'])
df.head(50)

                                                 Name    Year Rating
0                            The Shawshank Redemption  (1994)    9.3
1                                       The Godfather  (1972)    9.2
2                                     The Dark Knight  (2008)    9.0
3                              The Godfather: Part II  (1974)    9.0
4                                        12 Angry Men  (1957)    9.0
5       The Lord of the Rings: The Return of the King  (2003)    8.9
6                                        Pulp Fiction  (1994)    8.9
7                                    Schindler's List  (1993)    8.9
8                                           Inception  (2010)    8.8
9                                          Fight Club  (1999)    8.8
10  The Lord of the Rings: The Fellowship of the Ring  (2001)    8.8
11                                       Forrest Gump  (1994)    8.8
12                    Il buono, il brutto, il cattivo  (1966)    8.8
13              The Lord of the Rings: The Two Towers  (2002)    8.7
14                                         The Matrix  (1999)    8.7
15                                         Goodfellas  (1990)    8.7
16     Star Wars: Episode V - The Empire Strikes Back  (1980)    8.7
17                    One Flew Over the Cuckoo's Nest  (1975)    8.7
18                                       Gisaengchung  (2019)    8.6
19                                       Interstellar  (2014)    8.6
20                                     Cidade de Deus  (2002)    8.6
21                      Sen to Chihiro no kamikakushi  (2001)    8.6
22                                Saving Private Ryan  (1998)    8.6
23                                     The Green Mile  (1999)    8.6
24                                    La vita è bella  (1997)    8.6
25                                              Se7en  (1995)    8.6
26                           The Silence of the Lambs  (1991)    8.6
27                                          Star Wars  (1977)    8.6
28                                            Seppuku  (1962)    8.6
29                               Shichinin no samurai  (1954)    8.6
30                              It's a Wonderful Life  (1946)    8.6
31                                           Hamilton  (2020)    8.5
32                                           Whiplash  (2014)    8.5
33                                   The Intouchables  (2011)    8.5
34                                       The Prestige  (2006)    8.5
35                                       The Departed  (2006)    8.5
36                                        The Pianist  (2002)    8.5
37                                          Gladiator  (2000)    8.5
38                                 American History X  (1998)    8.5
39                                 The Usual Suspects  (1995)    8.5
40                                               Léon  (1994)    8.5
41                                      The Lion King  (1994)    8.5
42                         Terminator 2: Judgment Day  (1991)    8.5
43                              Nuovo Cinema Paradiso  (1988)    8.5
44                                     Hotaru no haka  (1988)    8.5
45                                 Back to the Future  (1985)    8.5
46                       Once Upon a Time in the West  (1968)    8.5
47                                             Psycho  (1960)    8.5
48                                         Casablanca  (1942)    8.5
49                                       Modern Times  (1936)    8.5

In [17]:
url = get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
request = url.text  # Last 50 movies for this url

In [18]:
soup_data = BeautifulSoup(request,'html.parser')
soup_data.title.text

'IMDb "Top 100"\n(Sorted by IMDb Rating Descending) - IMDb'

In [19]:
movies = soup_data.findAll('div',{'class':'lister-item mode-advanced'})
first_movie = movies[0]
first_movie.h3.a.text   #name of the movie

'City Lights'

In [20]:
first_movie.find('span',{"class":"lister-item-year text-muted unbold"}).text   #year

'(1931)'

In [21]:
first_movie.find('div',{"class":"inline-block ratings-imdb-rating"}).text.replace('\n','')

'8.5'

In [22]:
Name = []
Year = []
Rating = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text)
    Rating.append(i.find('div',{"class":"inline-block ratings-imdb-rating"}).text.replace('\n',''))

In [23]:
data = list(zip(Name,Year,Rating))
df = pd.DataFrame (data,columns=['Name','Year','Rating'])
df.tail(50)

                                                 Name        Year Rating
0                                         City Lights      (1931)    8.5
1                                          Capharnaüm      (2018)    8.4
2                                               Joker      (2019)    8.4
3                                      Kimi no na wa.      (2016)    8.4
4                                              Dangal      (2016)    8.4
5                   Spider-Man: Into the Spider-Verse      (2018)    8.4
6                                   Avengers: Endgame      (2019)    8.4
7                              Avengers: Infinity War      (2018)    8.4
8                                                Coco  (I) (2017)    8.4
9                                    Django Unchained      (2012)    8.4
10                              The Dark Knight Rises      (2012)    8.4
11                                           3 Idiots      (2009)    8.4
12                                   Taare Zameen Par      (2007)    8.4
13                                             WALL·E      (2008)    8.4
14                                The Lives of Others      (2006)    8.4
15                                           Oldeuboi      (2003)    8.4
16                                            Memento      (2000)    8.4
17                                      Mononoke-hime      (1997)    8.4
18                        Once Upon a Time in America      (1984)    8.4
19                            Raiders of the Lost Ark      (1981)    8.4
20                                        The Shining      (1980)    8.4
21                                     Apocalypse Now      (1979)    8.4
22                                              Alien      (1979)    8.4
23                                  Tengoku to jigoku      (1963)    8.4
24  Dr. Strangelove or: How I Learned to Stop Worr...      (1964)    8.4
25                        Witness for the Prosecution      (1957)    8.4
26                                     Paths of Glory      (1957)    8.4
27                                        Rear Window      (1954)    8.4
28                                       Sunset Blvd.      (1950)    8.4
29                                 The Great Dictator      (1940)    8.4
30                                             Jagten      (2012)    8.3
31                               Inglourious Basterds      (2009)    8.3
32              Eternal Sunshine of the Spotless Mind      (2004)    8.3
33                                Requiem for a Dream      (2000)    8.3
34                                    American Beauty      (1999)    8.3
35                                  Good Will Hunting      (1997)    8.3
36                                          Toy Story      (1995)    8.3
37                                         Braveheart      (1995)    8.3
38                                     Reservoir Dogs      (1992)    8.3
39                                       Idi i smotri      (1985)    8.3
40                                             Aliens      (1986)    8.3
41                                            Amadeus      (1984)    8.3
42         Star Wars: Episode VI - Return of the Jedi      (1983)    8.3
43                                           Das Boot      (1981)    8.3
44                              2001: A Space Odyssey      (1968)    8.3
45                                            Vertigo      (1958)    8.3
46                                Singin' in the Rain      (1952)    8.3
47                                       Citizen Kane      (1941)    8.3
48                  M - Eine Stadt sucht einen Mörder      (1931)    8.3
49                                            The Kid      (1921)    8.3

# 3. Program 3 - Top 100 Indian Movies on IMDB

In [24]:
url = get("https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1")
request = url.text

In [25]:
soup_data = BeautifulSoup(request,'html.parser')
soup_data.title.text

'IMDB Top 100 Hindi Movies - IMDb'

In [26]:
movies = soup_data.findAll('div',{'class':'lister-item mode-detail'})
first_movie = movies[0]
first_movie.h3.a.text   #name of the movie

'Gol Maal'

In [27]:
first_movie.find('span',{"class":"lister-item-year text-muted unbold"}).text   #year

'(1979)'

In [28]:
first_movie.find('span',{"class":"ipl-rating-star__rating"}).text  #Rating

'8.6'

In [29]:
Name = []
Year = []
Rating = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text)
    Rating.append(i.find('span',{"class":"ipl-rating-star__rating"}).text)

In [30]:
data = list(zip(Name,Year,Rating))
df = pd.DataFrame (data,columns=['Name','Year','Rating'])
df.head(100)

                      Name    Year Rating
0                 Gol Maal  (1979)    8.6
1             Black Friday  (2004)    8.5
2                   Pyaasa  (1957)    8.5
3                 3 Idiots  (2009)    8.4
4         Taare Zameen Par  (2007)    8.4
..                     ...     ...    ...
95           Ek Hasina Thi  (2004)    7.5
96                Rangeela  (1995)    7.5
97  Qayamat Se Qayamat Tak  (1988)    7.5
98            Socha Na Tha  (2005)    7.4
99                   Gunda  (1998)    7.3

[100 rows x 3 columns]

# 4. Program 4 - Book Scrapping from BookPage

In [31]:
page = requests.get('https://bookpage.com/reviews')
page

In [32]:
soup=BeautifulSoup(page.content)

In [33]:
first_book=soup.find('h4',class_="italic")                                       #Book Name
first_book.text.replace('\n','')

' ★ Facing the Mountain'

In [34]:
first_auth=soup.find('p',class_="sans bold")                                     #Author Name
first_auth.text.replace('\n','')

'Daniel James Brown'

In [35]:
first_genre=soup.find('p',class_="genre-links")                                   #Genre
first_genre.text.replace('\n','')

'Nonfiction / History / American History'

In [36]:
first_rev=soup.find('p',class_="excerpt")                                          # Short Review
first_rev.text.replace('\n','')

'Most of the Japanese American patriots who formed the 442nd Infantry Regiment are gone, but their stories live on in this empathetic tribute to their courage.'

In [37]:
book = soup.find_all('h4',class_="italic")
  
for item in book:
  print(item.text.strip())

★ Facing the Mountain
Lucky Girl
★ On Juneteenth
Pawcasso
The Most Beautiful Girl in Cuba
Why Peacocks?
The Last Thing He Told Me
The Secret History of Home Economics
Little and Often
The Wreckage of My Presence

In [38]:
authors = soup.find_all('p',class_="sans bold")
  
for item in authors:
  print(item.text)

Daniel James Brown


Jamie Pacton


Annette Gordon-Reed


Remy Lai


Chanel Cleeton


Sean Flynn


Laura Dave


Danielle Dreilinger


Trent Preszler


Casey Wilson

In [39]:
 genre = soup.find_all('p',class_="genre-links")
  
for item in genre:
  print(item.text)

Nonfiction
 /
History
 /
American History


YA Fiction
 /
YA


Nonfiction
 /
History
 /
American History


Children's
 /
Middle Grade


Fiction
 /
Historical Fiction


Nonfiction
 /
Science & Nature
 /
Animals


Fiction
 /
Family Drama


Nonfiction
 /
History
 /
Women's History


Nonfiction
 /
Memoir
 /
Family & Relationships


Nonfiction
 /
Essays
 /
Humor

In [40]:
reviews = soup.find_all('p',class_="excerpt")
  
for item in reviews:
  print(item.text)

Most of the Japanese American patriots who formed the 442nd Infantry Regiment are gone, but their stories live on in this empathetic tribute to their courage.




Gordon-Reed’s essays seamlessly merge history, memoir and family history into a complex portrait of her beloved, turbulent Texas.




Chanel Cleeton delivers a sweeping story of love and courage, as well as a sobering reminder of the power and responsibility of the media.


Have you ever thought, What my household needs is a few peacocks? Me neither. But that didn’t stop me from enjoying this entertaining, sweet and often funny book.


Laura Dave has given us what we crave right now—a thoroughly engrossing yet comforting distraction.


Whatever stereotypes we associate with home economics, Danielle Dreilinger is here to assure us that everything we think we know is wrong.


This lucid, lyrical memoir recalls father-son episodes in South Dakota, with its biblical weather, rattlesnakes, long horseback rides and rodeos.


The Wreckage of My Presence is funny and bold, occasionally manic or melancholy, and always hilarious and heartfelt. Fans will turn the last page wanting more.

In [41]:
data = list(zip(book,authors,genre,reviews))
df = pd.DataFrame (data,columns=['book','authors','genre','review'])

In [42]:
display(df)

,book,authors,genre,review
0,"[\n, [ , [★ ], Facing the Mountain], \n]",[\nDaniel James Brown\n],"[\n, [Nonfiction], \n / \n, [History], \n / \n...",[\nMost of the Japanese American patriots who ...
1,"[\n, [Lucky Girl], \n]",[\nJamie Pacton\n],"[\n, [YA Fiction], \n / \n, [YA], \n]",[\n]
2,"[\n, [ , [★ ], On Juneteenth], \n]",[\nAnnette Gordon-Reed\n],"[\n, [Nonfiction], \n / \n, [History], \n / \n...",[\nGordon-Reed’s essays seamlessly merge histo...
3,"[\n, [Pawcasso], \n]",[\nRemy Lai\n],"[\n, [Children's], \n / \n, [Middle Grade], \n]",[\n]
4,"[\n, [The Most Beautiful Girl in Cuba], \n]",[\nChanel Cleeton\n],"[\n, [Fiction], \n / \n, [Historical Fiction],...",[\nChanel Cleeton delivers a sweeping story of...
5,"[\n, [Why Peacocks?], \n]",[\nSean Flynn\n],"[\n, [Nonfiction], \n / \n, [Science & Nature]...","[\nHave you ever thought, , [What my household..."
6,"[\n, [The Last Thing He Told Me], \n]",[\nLaura Dave\n],"[\n, [Fiction], \n / \n, [Family Drama], \n]",[\nLaura Dave has given us what we crave right...
7,"[\n, [The Secret History of Home Economics], \n]",[\nDanielle Dreilinger\n],"[\n, [Nonfiction], \n / \n, [History], \n / \n...",[\nWhatever stereotypes we associate with home...
8,"[\n, [Little and Often], \n]",[\nTrent Preszler\n],"[\n, [Nonfiction], \n / \n, [Memoir], \n / \n,...","[\nThis lucid, lyrical memoir recalls father-s..."
9,"[\n, [The Wreckage of My Presence], \n]",[\nCasey Wilson\n],"[\n, [Nonfiction], \n / \n, [Essays], \n / \n,...","[\n, [The Wreckage of My Presence], is funny ..."

# 5. Program 5 - ICC Mens Ranking ODI  Team,Players

In [43]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [44]:
soup=BeautifulSoup(page.content)

In [45]:
pos=soup.find('td',class_="rankings-block__banner--pos")
pos.text

'1'

In [46]:
team=soup.find('span',class_="u-hide-phablet")
team.text

'New Zealand'

In [47]:
matches=soup.find('td',class_="rankings-block__banner--matches")
matches.text

'17'

In [48]:
points=soup.find('td',class_="rankings-block__banner--points")
points.text

'2,054'

In [49]:
ratings=soup.find('td',class_="rankings-block__banner--rating u-text-right")
ratings.text.replace('\n','' )

'                            121                            '

In [50]:
pos = soup.find_all('td',class_="table-body__cell table-body__cell--position u-text-right")
  
for item in pos:
  print(item.text)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [51]:
team = soup.find_all('span',class_="u-hide-phablet")
  
for item in team:
  print(item.text)

New Zealand
Australia
India
England
South Africa
Pakistan
Bangladesh
West Indies
Sri Lanka
Afghanistan
Netherlands
Ireland
Zimbabwe
Oman
Scotland
Nepal
UAE
Namibia
United States
Papua New Guinea

In [52]:
matches = soup.find_all('tbody')
  
for item in matches:
  print(item.text)

1


New Zealand
NZ

17
2,054

                            121





2


Australia
AUS

25
2,945
118


3


India
IND

29
3,344
115


4


England
ENG

27
3,100
115


5


South Africa
SA

20
2,137
107


6


Pakistan
PAK

24
2,323
97


7


Bangladesh
BAN

24
2,157
90


8


West Indies
WI

27
2,222
82


9


Sri Lanka
SL

21
1,652
79


10


Afghanistan
AFG

17
1,054
62


11


Netherlands
NED

2
99
50


12


Ireland
IRE

18
818
45


13


Zimbabwe
ZIM

15
588
39


14


Oman
OMA

7
240
34


15


Scotland
SCO

5
148
30


16


Nepal
NEP

5
119
24


17


UAE
UAE

9
190
21


18


Namibia
NAM

6
97
16


19


United States
USA

8
93
12


20


Papua New Guinea
PNG

5
0
0

ODI PLAYERS RANKING

In [70]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi"

In [71]:
r  = requests.get(url)
htmlContent = r.content

In [72]:
soup = BeautifulSoup(htmlContent, 'html.parser')
title = soup.title
print(title.text)

ICC ODI Match Player Rankings International Cricket Council

In [75]:
first_table= soup.find("table")
assert first_table.find("th").get_text() == "Pos"
rows = first_table.find_all("tr",)

In [76]:
for row in rows[1:-1]:
    cells = row.find_all(["td"])
    cells_text = [cell.get_text(strip=True) for cell in cells]
    
    display(cells_text)

['2This player has moved down in the rankings since the previous rankings update',
 'Virat Kohli',
 'IND',
 '857']

['3', 'Rohit Sharma', 'IND', '825']

['4', 'Ross Taylor', 'NZ', '801']

['5', 'Aaron Finch', 'AUS', '791']

['6', 'Jonny Bairstow', 'ENG', '785']

['7This player has moved up in the rankings since the previous rankings update',
 'Fakhar Zaman',
 'PAK',
 '778']

['This player has moved down in the rankings since the previous rankings update',
 'Francois du Plessis',
 'SA',
 '778']

['9This player has moved down in the rankings since the previous rankings update',
 'David Warner',
 'AUS',
 '773']

# 6. Program 6 - ICC ODI Womens Rankings Team,Players

In [77]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"        #fetching the url
r  = requests.get(url)
htmlContent = r.content

In [78]:
soup = BeautifulSoup(htmlContent, 'html.parser')
title = soup.title
print(title.string)

ICC Ranking for ODI teams International Cricket Council

In [79]:
first_table= soup.find("table")
assert first_table.find("th").get_text() == "Pos"
rows = first_table.find_all("tr",)

In [80]:
for row in rows[1:-1]:
    cells = row.find_all(["td"])
    cells_text = [cell.get_text(strip=True) for cell in cells]
    
    display(cells_text)

['1', 'AustraliaAUS', '18', '2,955', '164']

['2', 'South AfricaSA', '24', '2,828', '118']

['3', 'EnglandENG', '17', '1,993', '117']

['4', 'IndiaIND', '20', '2,226', '111']

['5', 'New ZealandNZ', '21', '1,947', '93']

['6', 'West IndiesWI', '12', '1,025', '85']

['7', 'PakistanPAK', '15', '1,101', '73']

['8', 'BangladeshBAN', '5', '306', '61']

['9', 'Sri LankaSL', '11', '519', '47']

# Top 10 Odi Womens Batsman

In [82]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi"
r  = requests.get(url)
htmlContent = r.content

In [83]:
soup = BeautifulSoup(htmlContent, 'html.parser')
title = soup.title
print(title.string)

ICC ODI Match Player Rankings International Cricket Council

In [84]:
first_table= soup.find("table")
assert first_table.find("th").get_text() == "Pos"
rows = first_table.find_all("tr",)

In [85]:
for row in rows[1:-1]:
    cells = row.find_all(["td"])
    cells_text = [cell.get_text(strip=True) for cell in cells]
    
    display(cells_text)

['2', 'Lizelle Lee', 'SA', '758']

['3', 'Alyssa Healy', 'AUS', '756']

['4', 'Stafanie Taylor', 'WI', '746']

['5', 'Meg Lanning', 'AUS', '723']

['6', 'Amy Satterthwaite', 'NZ', '715']

['7', 'Smriti Mandhana', 'IND', '710']

['8', 'Mithali Raj', 'IND', '709']

['9This player has moved up in the rankings since the previous rankings update',
 'Natalie Sciver',
 'ENG',
 '685']

# 8. Program 8 - Weather Forecast Report

In [86]:
page = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YJedFWYzY1I')
page

In [87]:
soup=BeautifulSoup(page.content)

In [88]:
first_day=soup.find('p',class_="period-name")
first_day.text

'Today'

In [89]:
first_des=soup.find('p',class_="short-desc")
first_des.text

'Sunny'

In [90]:
first_temp=soup.find('p',class_="temp temp-low")
first_temp.text

'Low: 52 °F'

In [91]:
first_det=soup.find('div',class_="col-sm-10 forecast-text")
first_det.text

'Sunny, with a high near 71. West wind 7 to 15 mph, with gusts as high as 20 mph. '

In [92]:
day = soup.find_all('p',class_="period-name")
  
for item in day:
  print(item.text.strip())

Today
Tonight
Monday
MondayNight
Tuesday
TuesdayNight
Wednesday
WednesdayNight
Thursday

In [93]:
desc = soup.find_all('p',class_="short-desc")
  
for item in desc:
  print(item.text.strip())

Sunny
Clear
Sunny
Mostly Clear
Sunny
Mostly Clear
Sunny
Partly Cloudy
Mostly Sunny

In [94]:
temp = soup.find_all('div',class_="tombstone-container")
  
for item in temp:
  print(item.text)

Today
SunnyHigh: 71 °F

Tonight
ClearLow: 52 °F

Monday
SunnyHigh: 77 °F

MondayNight
Mostly ClearLow: 52 °F

Tuesday
SunnyHigh: 75 °F

TuesdayNight
Mostly ClearLow: 51 °F

Wednesday
SunnyHigh: 69 °F

WednesdayNight
Partly CloudyLow: 51 °F

Thursday
Mostly SunnyHigh: 67 °F

In [95]:
detail_desc = soup.find_all('div',class_="col-sm-10 forecast-text")
  
for item in detail_desc:
  print(item.text)

Sunny, with a high near 71. West wind 7 to 15 mph, with gusts as high as 20 mph.
Clear, with a low around 52. West wind 6 to 14 mph, with gusts as high as 18 mph.
Sunny, with a high near 77. Light west northwest wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 20 mph.
Mostly clear, with a low around 52. West wind 5 to 14 mph.
Sunny, with a high near 75. Light west northwest wind becoming west 10 to 15 mph in the afternoon. Winds could gust as high as 20 mph.
Mostly clear, with a low around 51.
Sunny, with a high near 69.
Partly cloudy, with a low around 51.
Mostly sunny, with a high near 67.
Partly cloudy, with a low around 51.
Mostly sunny, with a high near 65.
Partly cloudy, with a low around 51.
Mostly sunny, with a high near 65.

In [96]:
data = list(zip(day,desc,detail_desc))
df = pd.DataFrame (data,columns=['day','desc','detail_desc'])

In [97]:
df.head(10)

,day,desc,detail_desc
0,"[Today, [], []]",[Sunny],"[Sunny, with a high near 71. West wind 7 to 15..."
1,"[Tonight, [], []]",[Clear],"[Clear, with a low around 52. West wind 6 to 1..."
2,"[Monday, [], []]",[Sunny],"[Sunny, with a high near 77. Light west northw..."
3,"[Monday, [], Night]",[Mostly Clear],"[Mostly clear, with a low around 52. West wind..."
4,"[Tuesday, [], []]",[Sunny],"[Sunny, with a high near 75. Light west northw..."
5,"[Tuesday, [], Night]",[Mostly Clear],"[Mostly clear, with a low around 51.]"
6,"[Wednesday, [], []]",[Sunny],"[Sunny, with a high near 69.]"
7,"[Wednesday, [], Night]",[Partly Cloudy],"[Partly cloudy, with a low around 51.]"
8,"[Thursday, [], []]",[Mostly Sunny],"[Mostly sunny, with a high near 67.]"